# Exploratory Data Analysis

Breve Explicação sobre notebook

## Summary??

## 1. Import Libraries and Utilities

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
from pylab import rcParams
import numpy as np
import seaborn as sns
import plotly.express as px # para o mapa

In [2]:
# Import utilities
from EDA.age import calc_age
from EDA.educ import education
from EDA.data_load import data_load
from EDA.cat_num import categorical_numerical
from EDA.bar_chart import bar_chart
from EDA.freq_cat import frequency_categorical
from EDA.gender import cat_to_binary
from EDA.boxplot import boxplot
from EDA.int import float_to_int
from EDA.dt import convert_to_dt

## 2. Import Dataset

In [3]:
# Import dataset
cust_info = data_load('.\\Data\\Customer Info Dataset.csv')

In [4]:
# See dataset
cust_info.head()

,customer_id,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,female,09/10/1999 03:11 PM,0.0,0.0,0.0,2.0,91.0,20.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,male,06/26/1981 10:58 PM,1.0,0.0,0.0,2.0,197.0,5958.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Phd. Felicia Bradshaw,female,01/31/1987 09:08 AM,1.0,1.0,0.0,20.0,397.0,20.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,female,06/17/1942 12:02 AM,3.0,4.0,1.0,2.0,5282.0,237.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,female,01/31/2000 11:43 AM,0.0,0.0,0.0,2.0,82.0,22.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970

## 3. Check duplicates

In [5]:
# Search for duplicated 'customer_id'
cust_info['customer_id'].duplicated().sum()

0

Não sei o que escrever

In [6]:
# Set 'customer_id' as index
cust_info = cust_info.set_index('customer_id')

## 4. Check Data Types

In [7]:
cust_info.dtypes

customer_name                               object
customer_gender                             object
customer_birthdate                          object
kids_home                                  float64
teens_home                                 float64
number_complaints                          float64
distinct_stores_visited                    float64
lifetime_spend_groceries                   float64
lifetime_spend_electronics                 float64
typical_hour                               float64
lifetime_spend_vegetables                  float64
lifetime_spend_nonalcohol_drinks           float64
lifetime_spend_alcohol_drinks              float64
lifetime_spend_meat                        float64
lifetime_spend_fish                        float64
lifetime_spend_hygiene                     float64
lifetime_spend_videogames                  float64
lifetime_total_distinct_products           float64
percentage_of_products_bought_promotion    float64
year_first_transaction                     float64
loyalty_card_number                        float64
latitude                                   float64
longitude                                  float64
dtype: object

### 4.1 Necessary changes to datatypes

Transform dates into pandas datetime object.

In [8]:
convert_to_dt(cust_info, 'customer_birthdate')
cust_info['year_first_transaction'] = pd.to_datetime(cust_info['year_first_transaction'], format='%Y').dt.year

Transform float variables into integers.

In [9]:
cust_info = float_to_int(cust_info, ['kids_home',
                                     'teens_home',
                                     'number_complaints',
                                     'distinct_stores_visited',
                                     'year_first_transaction',
                                     'loyalty_card_number'])

In [10]:
cust_info

,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
customer_id,,,,,,,,,,,,,,,,,,,,,
4239,Sara Moscowitz,female,1999-09-10 15:11:00,0,0,0,2,91.0,20.0,22.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017,<NA>,38.754263,-9.163397
19330,Donald Robertson,male,1981-06-26 22:58:00,1,0,0,2,197.0,5958.0,21.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015,<NA>,38.777761,-9.156197
2272,Phd. Felicia Bradshaw,female,1987-01-31 09:08:00,1,1,0,20,397.0,20.0,9.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008,<NA>,38.785329,-9.127113
25288,Emma Williams,female,1942-06-17 00:02:00,3,4,1,2,5282.0,237.0,12.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010,<NA>,38.744086,-9.156589
12829,Hilda Huerta,female,2000-01-31 11:43:00,0,0,0,2,82.0,22.0,21.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015,<NA>,38.756024,-9.162970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Phd. Karen Watts,female,1974-11-01 05:26:00,0,0,1,2,209.0,5474.0,20.0,...,21.0,11.0,57.0,1984.0,112.0,0.096366,2008,935162,38.734446,-9.171911
26447,Curtis Thompson,male,1986-02-21 11:27:00,0,0,0,3,185.0,1066.0,15.0,...,47.0,41.0,50.0,197.0,22.0,0.118998,2014,<NA>,38.767070,-9.144301
182,Richard Carter,male,2001-01-14 05:49:00,0,0,0,2,83.0,23.0,23.0,...,55.0,52.0,51.0,94.0,77.0,0.199432,2016,953891,38.728487,-9.164140
13768,Jerry Yoder,male,1958-08-21 12:12:00,1,0,1,20,391.0,20.0,10.0,...,160.0,132.0,54.0,5.0,398.0,0.494527,2006,<NA>,38.751123,-9.182512
2570,Phd. James Cooper,male,1944-01-16 09:35:00,1,1,0,2,834.0,596.0,18.0,...,164.0,103.0,51.0,192.0,27.0,0.092385,2012,<NA>,38.781400,-9.194271

## 5. Missing Values

In [11]:
# Search for missing data
cust_info.isna().sum()

customer_name                                  0
customer_gender                                0
customer_birthdate                             0
kids_home                                      0
teens_home                                     0
number_complaints                              0
distinct_stores_visited                        0
lifetime_spend_groceries                       0
lifetime_spend_electronics                     0
typical_hour                                   0
lifetime_spend_vegetables                      0
lifetime_spend_nonalcohol_drinks               0
lifetime_spend_alcohol_drinks                  0
lifetime_spend_meat                            0
lifetime_spend_fish                            0
lifetime_spend_hygiene                         0
lifetime_spend_videogames                      0
lifetime_total_distinct_products               0
percentage_of_products_bought_promotion        0
year_first_transaction                         0
loyalty_card_number                        24175
latitude                                       0
longitude                                      0
dtype: int64

## 6. Summary Statistics

In [12]:
# Get to know the dataset
cust_info.describe().T

,count,mean,std,min,25%,50%,75%,max
kids_home,30000.0,1.146700e+00,1.234111,0.000000e+00,0.000000,1.000000,1.000000,10.000000
teens_home,30000.0,5.129333e-01,0.912502,0.000000e+00,0.000000,0.000000,1.000000,9.000000
number_complaints,30000.0,7.643667e-01,0.836341,0.000000e+00,0.000000,1.000000,1.000000,9.000000
distinct_stores_visited,30000.0,6.120767e+00,6.511410,0.000000e+00,2.000000,3.000000,8.000000,21.000000
lifetime_spend_groceries,30000.0,3.978634e+03,5280.641466,0.000000e+00,220.000000,950.000000,5253.000000,18852.000000
lifetime_spend_electronics,30000.0,9.652388e+02,1755.323397,1.058527e+00,45.000000,194.000000,721.000000,6603.000000
typical_hour,30000.0,-inf,NaN,-inf,9.000000,14.000000,20.000000,23.000000
lifetime_spend_vegetables,30000.0,5.642078e+02,481.819086,1.000000e+00,247.000000,425.000000,785.000000,1568.000000
lifetime_spend_nonalcohol_drinks,30000.0,6.287501e+02,496.346400,0.000000e+00,244.000000,425.000000,949.000000,1671.000000
lifetime_spend_alcohol_drinks,30000.0,3.793445e+02,236.206400,0.000000e+00,193.000000,419.000000,537.000000,1048.000000
lifetime_spend_meat,30000.0,5.138784e+02,575.448347,0.000000e+00,46.000000,164.000000,1078.000000,1860.000000
lifetime_spend_fish,30000.0,7.771518e+02,3036.405862,0.000000e+00,48.000000,166.000000,1091.000000,36243.000000
lifetime_spend_hygiene,30000.0,1.628245e+02,168.547217,0.000000e+00,50.000000,89.000000,223.000000,867.000000
lifetime_spend_videogames,30000.0,-inf,NaN,-inf,46.000000,92.000000,968.000000,2375.000000
lifetime_total_distinct_products,30000.0,1.123887e+03,1423.956421,0.000000e+00,116.000000,427.000000,1980.000000,5818.000000
percentage_of_products_bought_promotion,30000.0,1.909811e-01,0.145402,2.192022e-02,0.099313,0.149777,0.201240,0.517190
year_first_transaction,30000.0,2.008684e+03,4.992296,1.989000e+03,2006.000000,2009.000000,2012.000000,2020.000000
loyalty_card_number,5825.0,9.499115e+05,28920.116430,9.000390e+05,924547.000000,950215.000000,974937.000000,999997.000000
latitude,30000.0,3.874822e+01,0.024788,3.865335e+01,38.731150,38.748200,38.765098,38.866765
longitude,30000.0,-9.157740e+00,0.025749,-9.215240e+00,-9.177770,-9.159280,-9.139674,-9.091217

## 7. Identify Anomalies

Check if year of birth is smaller than the year of the first transaction.

In [14]:
sum(cust_info['year_first_transaction'] < cust_info['customer_birthdate'].dt.year)

35

## 8. Identify Outliers

In [27]:
# Calculate the IQR for each variable
q1 = cust_info.quantile(0.25)
q3 = cust_info.quantile(0.75)
iqr = q3 - q1

# Identify potential outliers for each variable
lower_bound = q1 - (3 * iqr)
upper_bound = q3 + (3 * iqr)

outliers = 
for var in num_cust_info:
    outliers[var] = cust_info[(cust_info[var] < lower_bound[var]) | (cust_info[var] > upper_bound[var])][var].tolist()
    outliers[var] = np.unique(outliers[var])

# Print the potential outliers for each variable
print('Potential outliers for each variable:')
for var in outliers:
    print(var, ':', outliers[var])

ValueError: Length of values (6) does not match length of index (1019)

## 9. Feature Engineering

Date of birth to age

In [ ]:
# Calculate age of each customer
calc_age(cust_info)
cust_info['age']

Level of education in the variable name

In [ ]:
# See pattern in names
cust_info['customer_name'].head(20)

In [ ]:
# See level of education of each customer
# based on their name
cust_info['education'] = cust_info['customer_name'].apply(education)
cust_info['education']

Transform `customer_gender` into a binary variable

In [ ]:
cust_info = cat_to_binary(cust_info, 'customer_gender', 'female')
cust_info

Relation between customers and each loyalty card

In [ ]:
cust_per_card, count_cards =  frequency_categorical(cust_info, 'loyalty_card_number')

Create a new variable for the total the customer has spent.

In [ ]:
cust_info['lifetime_spend'] = cust_info.lifetime_spend_groceries + cust_info.lifetime_spend_electronics + \
cust_info.lifetime_spend_vegetables + cust_info.lifetime_spend_nonalcohol_drinks + \
cust_info.lifetime_spend_alcohol_drinks + cust_info.lifetime_spend_meat + cust_info.lifetime_spend_fish + \
cust_info.lifetime_spend_hygiene + cust_info.lifetime_spend_videogames

cust_info['lifetime_spend']

Create new a variable with the number of childreen.

In [ ]:
cust_info['number_dependents'] = cust_info.kids_home + cust_info.teens_home
cust_info['number_dependents']

## 10. Visualize Data

In [ ]:
# Change default of plot size
rcParams['figure.figsize'] = 15, 10

Separate numeric and categorical variables

In [16]:
cat_cust_info, num_cust_info = categorical_numerical(
    cust_info,
    ['customer_name'],
    ['customer_birthdate',
     'loyalty_card_number',
     'latitude', 'longitude'
    ]
)

In [17]:
# See categorical DataFrame
cat_cust_info

            customer_gender
customer_id
4239                 female
19330                  male
2272                 female
25288                female
12829                female
...                     ...
625                  female
26447                  male
182                    male
13768                  male
2570                   male

[30000 rows x 1 columns]

In [18]:
# See numerical DataFrame
num_cust_info

,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,lifetime_spend_vegetables,lifetime_spend_nonalcohol_drinks,lifetime_spend_alcohol_drinks,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction
customer_id,,,,,,,,,,,,,,,,,
4239,0,0,0,2,91.0,20.0,22.0,22.0,195.0,964.0,53.0,48.0,47.0,105.0,85.0,0.192154,2017
19330,1,0,0,2,197.0,5958.0,21.0,20.0,1435.0,434.0,86.0,80.0,45.0,1964.0,85.0,0.098647,2015
2272,1,1,0,20,397.0,20.0,9.0,310.0,379.0,222.0,204.0,170.0,46.0,5.0,408.0,0.497251,2008
25288,3,4,1,2,5282.0,237.0,12.0,499.0,873.0,460.0,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010
12829,0,0,0,2,82.0,22.0,21.0,9.0,172.0,856.0,39.0,39.0,48.0,103.0,83.0,0.200625,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,0,0,1,2,209.0,5474.0,20.0,18.0,1435.0,521.0,21.0,11.0,57.0,1984.0,112.0,0.096366,2008
26447,0,0,0,3,185.0,1066.0,15.0,267.0,276.0,287.0,47.0,41.0,50.0,197.0,22.0,0.118998,2014
182,0,0,0,2,83.0,23.0,23.0,23.0,189.0,921.0,55.0,52.0,51.0,94.0,77.0,0.199432,2016
13768,1,0,1,20,391.0,20.0,10.0,295.0,301.0,250.0,160.0,132.0,54.0,5.0,398.0,0.494527,2006
2570,1,1,0,2,834.0,596.0,18.0,339.0,522.0,218.0,164.0,103.0,51.0,192.0,27.0,0.092385,2012

### Numerical Data

Bar chart with number of customers per loyalty card

In [ ]:
bar_chart(cust_per_card, count_cards,
          '# Customers', '# Loyalty Cards', 
          '# Customers per Loyalty Card')

Box plots of lifetime spent variables.

In [ ]:
spend_groups = num_cust_info[['lifetime_spend_vegetables',
                        'lifetime_spend_nonalcohol_drinks','lifetime_spend_alcohol_drinks','lifetime_spend_meat',
                        'lifetime_spend_hygiene','lifetime_spend_videogames']]
fish_group = num_cust_info['lifetime_spend_fish']
groc_group = num_cust_info['lifetime_spend_groceries']
elec_group = num_cust_info['lifetime_spend_electronics']

In [ ]:
boxplot(spend_groups, 
        ['lifetime_spend_vegetables',
        'lifetime_spend_nonalcohol_drinks','lifetime_spend_alcohol_drinks','lifetime_spend_meat',
        'lifetime_spend_hygiene','lifetime_spend_videogames'],
       'spent')

In [ ]:
boxplot(elec_group,
       ['lifetime_spend_electronics'],
       'spent on electronics')

In [ ]:
boxplot(fish_group,
       ['lifetime_spend_fish'],
       'spent on fish')

In [ ]:
boxplot(groc_group,
       ['lifetime_spend_groceries'],
       'spent on groceries')

In [ ]:
#  no relatorio explicar porque é que separamos as coisas, foi porque nao dava para visualizar bem

In [ ]:
## fazer bar chart de compliants, tipo por cada customer porque vai haver malta com muitos complaints

See the location of the customers.

In [ ]:
plt.scatter(
    cust_info.longitude,
    cust_info.latitude
    )

In [ ]:
# Create a scatter mapbox figure 
fig = px.scatter_mapbox(cust_info, lat='latitude', lon='longitude', title ='Big Brother is watching you')

# Set the mapbox style and center on Lisbon
fig.update_layout(mapbox_style='open-street-map', mapbox_center={'lat': 38.736946, 'lon': -9.142685}, mapbox_zoom=9)

# Show the figure
fig.show()

In [ ]:
spend = num_cust_info[['lifetime_spend_groceries','lifetime_spend_electronics','lifetime_spend_vegetables',
                        'lifetime_spend_nonalcohol_drinks','lifetime_spend_alcohol_drinks','lifetime_spend_meat',
                        'lifetime_spend_fish','lifetime_spend_hygiene']]

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(spend,diagonal='hist')
#plt.xticks(rotation = 90)
#plt.yticks(rotation = 90)
#plt.show()

In [ ]:
import plotly.express as px
fig = px.scatter_matrix(spend)
fig.update_layout(xaxis_tickangle=90)
fig.show()

In [ ]:
## fazer isto com todas as categorias
plt.scatter(
    cust_info.lifetime_spend,
    cust_info.lifetime_spend_groceries
    )

In [ ]:
## fazer isto com os dependents aka kids and teens

plt.scatter(
    cust_info.lifetime_spend_videogames,
    number_dependents
    )

plt.xlabel('# spent on videogames')
plt.ylabel('# offsprings???')

plt.title('Do they have kids or are they called Rui Lourenço, o terceiro')

In [ ]:
plt.scatter(
    cust_info.number_complaints,
    cust_info.distinct_stores_visited
    )
plt.xlabel('# complaints')
plt.ylabel('# stores visited')

plt.title('???')

In [ ]:
### porque é que o y aparece assim (ToT) não aguento masi isto
bar_chart(cust_info.number_complaints,cust_info.distinct_stores_visited,
         '# complaints', '# stores visited', '????')

### Categorical Data

## 11. Correlation

In [ ]:
corr = num_cust_info.drop(['female'], axis=1).corr()
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns, cmap='coolwarm')

## 12. Explore

## 13.Export Datasets

Dataset with outliers

In [ ]:
cust_info.to_csv('cust_data.csv')

Dataset without outliers

Dataset with outliers only

## 14. Conclusion