# Exploratory Data Analysis

Breve Explicação sobre notebook

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Import functions
from EDA.age import calc_age
from EDA.educ import education
from EDA.data_load import data_load

In [3]:
# Import dataset
cust_info = data_load('.\\Data\\Customer Info Dataset.csv')

In [4]:
# See dataset
cust_info.head()

,customer_id,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,...,lifetime_spend_meat,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,4239,Sara Moscowitz,female,09/10/1999 03:11 PM,0.0,0.0,0.0,2.0,91.0,20.0,...,53.0,48.0,47.0,105.0,85.0,0.192154,2017.0,NaN,38.754263,-9.163397
1,19330,Donald Robertson,male,06/26/1981 10:58 PM,1.0,0.0,0.0,2.0,197.0,5958.0,...,86.0,80.0,45.0,1964.0,85.0,0.098647,2015.0,NaN,38.777761,-9.156197
2,2272,Phd. Felicia Bradshaw,female,01/31/1987 09:08 AM,1.0,1.0,0.0,20.0,397.0,20.0,...,204.0,170.0,46.0,5.0,408.0,0.497251,2008.0,NaN,38.785329,-9.127113
3,25288,Emma Williams,female,06/17/1942 12:02 AM,3.0,4.0,1.0,2.0,5282.0,237.0,...,1081.0,1068.0,617.0,1078.0,1956.0,0.206713,2010.0,NaN,38.744086,-9.156589
4,12829,Hilda Huerta,female,01/31/2000 11:43 AM,0.0,0.0,0.0,2.0,82.0,22.0,...,39.0,39.0,48.0,103.0,83.0,0.200625,2015.0,NaN,38.756024,-9.162970

In [5]:
calc_age(cust_info)
cust_info['age']

0        23
1        41
2        36
3        80
4        23
         ..
29995    48
29996    37
29997    22
29998    64
29999    79
Name: Age, Length: 30000, dtype: int32

In [6]:
# Search for duplicated 'customer_id'
cust_info['customer_id'].duplicated().sum()

0

In [7]:
# Set 'customer_id' as index
cust_info = cust_info.set_index('customer_id')

In [8]:
cust_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 4239 to 2570
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customer_name                            30000 non-null  object
 1   customer_gender                          30000 non-null  object
 2   customer_birthdate                       30000 non-null  datetime64[ns]
 3   kids_home                                30000 non-null  float64
 4   teens_home                               30000 non-null  float64
 5   number_complaints                        30000 non-null  float64
 6   distinct_stores_visited                  30000 non-null  float64
 7   lifetime_spend_groceries                 30000 non-null  float64
 8   lifetime_spend_electronics               30000 non-null  float64
 9   typical_hour                             30000 non-null  float64
 10  lifetime_spend_vegetables                30000 non-null  float64
 11  lifetime_spend_nonalcohol_drinks         30000 non-null  float64
 12  lifetime_spend_alcohol_drinks            30000 non-null  float64
 13  lifetime_spend_meat                      30000 non-null  float64
 14  lifetime_spend_fish                      30000 non-null  float64
 15  lifetime_spend_hygiene                   30000 non-null  float64
 16  lifetime_spend_videogames                30000 non-null  float64
 17  lifetime_total_distinct_products         30000 non-null  float64
 18  percentage_of_products_bought_promotion  30000 non-null  float64
 19  year_first_transaction                   30000 non-null  float64
 20  loyalty_card_number                      5825 non-null   float64
 21  latitude                                 30000 non-null  float64
 22  longitude                                30000 non-null  float64
 23  Age                                      30000 non-null  int32
dtypes: datetime64[ns](1), float64(20), int32(1), object(2)
memory usage: 5.6+ MB

In [9]:
# Search for missing data
cust_info.isna().sum()

customer_name                                  0
customer_gender                                0
customer_birthdate                             0
kids_home                                      0
teens_home                                     0
number_complaints                              0
distinct_stores_visited                        0
lifetime_spend_groceries                       0
lifetime_spend_electronics                     0
typical_hour                                   0
lifetime_spend_vegetables                      0
lifetime_spend_nonalcohol_drinks               0
lifetime_spend_alcohol_drinks                  0
lifetime_spend_meat                            0
lifetime_spend_fish                            0
lifetime_spend_hygiene                         0
lifetime_spend_videogames                      0
lifetime_total_distinct_products               0
percentage_of_products_bought_promotion        0
year_first_transaction                         0
loyalty_card_number                        24175
latitude                                       0
longitude                                      0
Age                                            0
dtype: int64

In [10]:
# Get to know the dataset
cust_info.describe().T

,count,mean,std,min,25%,50%,75%,max
kids_home,30000.0,1.146700e+00,1.234111,0.000000e+00,0.000000,1.000000,1.000000,10.000000
teens_home,30000.0,5.129333e-01,0.912502,0.000000e+00,0.000000,0.000000,1.000000,9.000000
number_complaints,30000.0,7.643667e-01,0.836341,0.000000e+00,0.000000,1.000000,1.000000,9.000000
distinct_stores_visited,30000.0,6.120767e+00,6.511410,0.000000e+00,2.000000,3.000000,8.000000,21.000000
lifetime_spend_groceries,30000.0,3.978634e+03,5280.641466,0.000000e+00,220.000000,950.000000,5253.000000,18852.000000
lifetime_spend_electronics,30000.0,9.652388e+02,1755.323397,1.058527e+00,45.000000,194.000000,721.000000,6603.000000
typical_hour,30000.0,-inf,NaN,-inf,9.000000,14.000000,20.000000,23.000000
lifetime_spend_vegetables,30000.0,5.642078e+02,481.819086,1.000000e+00,247.000000,425.000000,785.000000,1568.000000
lifetime_spend_nonalcohol_drinks,30000.0,6.287501e+02,496.346400,0.000000e+00,244.000000,425.000000,949.000000,1671.000000
lifetime_spend_alcohol_drinks,30000.0,3.793445e+02,236.206400,0.000000e+00,193.000000,419.000000,537.000000,1048.000000
lifetime_spend_meat,30000.0,5.138784e+02,575.448347,0.000000e+00,46.000000,164.000000,1078.000000,1860.000000
lifetime_spend_fish,30000.0,7.771518e+02,3036.405862,0.000000e+00,48.000000,166.000000,1091.000000,36243.000000
lifetime_spend_hygiene,30000.0,1.628245e+02,168.547217,0.000000e+00,50.000000,89.000000,223.000000,867.000000
lifetime_spend_videogames,30000.0,-inf,NaN,-inf,46.000000,92.000000,968.000000,2375.000000
lifetime_total_distinct_products,30000.0,1.123887e+03,1423.956421,0.000000e+00,116.000000,427.000000,1980.000000,5818.000000
percentage_of_products_bought_promotion,30000.0,1.909811e-01,0.145402,2.192022e-02,0.099313,0.149777,0.201240,0.517190
year_first_transaction,30000.0,2.008684e+03,4.992296,1.989000e+03,2006.000000,2009.000000,2012.000000,2020.000000
loyalty_card_number,5825.0,9.499115e+05,28920.116430,9.000390e+05,924547.000000,950215.000000,974937.000000,999997.000000
latitude,30000.0,3.874822e+01,0.024788,3.865335e+01,38.731150,38.748200,38.765098,38.866765
longitude,30000.0,-9.157740e+00,0.025749,-9.215240e+00,-9.177770,-9.159280,-9.139674,-9.091217
Age,30000.0,5.183963e+01,17.911859,2.100000e+01,36.000000,52.000000,67.000000,83.000000

In [11]:
categorical = ['customer_name']
numerical = ['kids_home', 'teen_home',
             'number_complaints', 'location_latitude',
             'location_longitude', 'distinct_stores_visited',
            'loyalty_card_number', 'lifetime_spent_groceries',
            'lifetime_spent_electronics','lifetime_spent_vegetables',
            'lifetime_spend_nonalcohol_drinks', 'lifetime_spend_alcohol_drinks',
            'lifetime_spent_meat', 'lifetime_spent_fish',
            'lifetime_spent_hygiene', 'lifetime_spent_videogames',
            'lifetime_total_distinct_products', 'year_first_transaction',
            'percentage_of_products_bought_promotion',
            'typical_hours', 'latitude', 'longitude',
            'age']

In [12]:
# See pattern in names
cust_info['customer_name'].head(20)

customer_id
4239              Sara Moscowitz
19330           Donald Robertson
2272       Phd. Felicia Bradshaw
25288              Emma Williams
12829               Hilda Huerta
12267         Bsc. Anthony Brown
10548       Phd. Kimberly Milton
11199               Robert Smith
26762               Alan Lambert
457            Msc. Pamela Moser
15901              Sabra Terrell
8267           Denise Standridge
22941                 John Abreu
2803     Bsc. Kimberly Whitehead
20623             Cedrick Villar
2345          Bsc. Henry Schultz
19722                 Ann Murphy
17585          George Degasperis
1702           Phd. Robert Pires
15914             Fannie Onisick
Name: customer_name, dtype: object

In [13]:
# Apply the education function to the 'customer_name' column
# and assign the results to a new education column 'education'
cust_info['education'] = cust_info['customer_name'].apply(education)
cust_info['education']

customer_id
4239     High-school
19330    High-school
2272            Phd.
25288    High-school
12829    High-school
            ...
625             Phd.
26447    High-school
182      High-school
13768    High-school
2570            Phd.
Name: education, Length: 30000, dtype: object